@import "@nathanfaucett/native.less";


html, body{
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 2em;
}

hr {
  border-color: #EEE;
  margin: 8px 0px;
  padding: 0px;
}

a, a:visited {
  color: #0033CC;
}
a:hover {
  color: #0033FF;
}

h1, h2, h3, h4, h5, h5 {
  color: #CC0033;
}

#wrapper {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px 16px 128px 16px;
}

pre.code {
  font-family: monospace, monospace;
  padding: 8px;
  margin: 0px;
  font-size: 1em;
  line-height: 1.25em;
  background-color: #EEE;
  border: 1px solid #DDD;
}
